.musiscCardBorder {
    border: solid 1px whitesmoke;
    border-radius: 15px;
    margin: 16px;
    text-align: center;
    width: 200px;
}

.title {
    font-weight: bold;
}

.picture {
    max-height: 180px;
    max-width: 200px;
}

.info {
    margin: 0 0;
}