#root {
  max-width: 1280px;
  padding: 2rem;  
   /* margin: 0 auto;
  text-align: center; */
}

.cards-container{
  display: flex;
  justify-content: flex-start;
}

.search-bar-container{
 display: flex;
 justify-content: center;
 width: 100vw;
}