#root {
  max-width: 1280px;
  padding: 2rem;   
}

.cards-container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.search-bar-container{
 display: flex;
 justify-content: center;
 width: calc(100vw - 4rem);
}

.home-title{
  text-align: center;
}

nav {
  border: solid 1px white;
}